<!doctype html>
<html>
    <head>
    <title>Contents</title>
         <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
       
    </head>
    <body>
    
        <h1>Contents Here(REDIRECT FROM HERE)</h1>
        <Table class="table  table-striped">
            <tr>
            <th>Contents</th>
                <th>Description</th>
            </tr>
        <tr>
            <th><a href="/view/index.html">HOME</a></th>
            <th>Back to the start</th>
            </tr>
            <tr>
                <th><a href="/view/firstpage.html">First Page</a></th>
                <th>Go to the beginning</th>
            </tr>
            
            <tr>
                <th><a href="/view/table.html">Tables</a></th>
                <th>First Table you'll see</th>
            </tr>
            <tr>
                <th><a href="/view/reference.html">References</a></th>
                <th>Learn from here</th>
            </tr>
            <tr>
                <th><a href="/view/list.html">List</a></th>
                <th>Listing stuff here</th>
            </tr>
              <tr>
                <th><a href="/view/bootstrap.html">Bootstrap</a></th>
                <th>Booting and Straping</th>
            </tr>
              <tr>
                <th><a href="/view/form.html">Forms</a></th>
                <th>Fill in the Blanks</th>
            </tr>
             <tr>
                <th><a href="/view/person.html">Person</a></th>
                <th>Forms to get People info</th>
            </tr>
             <tr>
                <th><a href="/view/person_tab.html">Person FORM </a></th>
                <th>Forms with Tabs to get People info</th>
            </tr>
        </Table>
     
        
    </body>
</html>