<!doctype html>
<html>
    <head>
    <title>First Project</title>
        <link rel="stylesheet" href="/css/style.css">
        <style>
            h3{
                color:#00CC00;
            }
            h4{
                color:blanchedalmond;
            }
        </style>
    </head>
    <body>
    <h1 style="color:red">Hello World</h1>
        <h2 style="color:blue">go somewhere</h2>
        <h3>not here</h3>
        <h4>fine place</h4>
        <h5>i presume it is</h5>
        <h6>non essentials go here</h6>
         <h1>Hello Universe</h1>
        <h2>towels everywhere</h2>
        <h3>HEART OF GOLD</h3>
        <h4>Prefect</h4>
        <h5>i presume it is</h5>
        <h6>non essentials go here</h6>   
        
    </body>
</html>