<!doctype html>
<html>
    <head>
    <title>Ordered Lists and Unordered Lists</title>
         <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
               <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        <h1 id="Sample">Sample Header</h1>
        <h1 class="Sample2">Sample Header 2</h1>
        <h1>Ordered List</h1>
        <ol>
            <li>Apple</li>
            <li>Orange</li>
            <li>Banana</li>
            <li>Grapes</li>
        
        </ol>
        
        <h1>Unordered List</h1>
        <ul>
            <li>Dog</li>
            <li>Cat</li>
            <li>Rat</li>
            
        </ul>
        <h1>Custom Menu</h1>
        <ul>
            <li>
                <a href="/view/index.html">HOME</a></li>
             <li>
                 <a href="/view/firstpage.html">First Page</a>
            </li>
             <li>
                 <a href="/view/contents.html">Contents</a>
            </li>
             <li>
                 <a href="/view/table.html">Table</a>
            </li>
             <li>
                 <a href="/view/reference.html">References</a>
            </li>
             <li>
                 <a href="/view/list.html">List</a>
            </li>
        
        </ul>
        
         <h4><a href = "/view/contents.html">BACK</a></h4>
    </body>
</html>