<!doctype html>
<html>
    <head>
    <title>Contents</title>
       
    </head>
    <body>
    
        <h1>REFENCES</h1>
        <Table>
            <tr>
            <th>Sites</th>
                <th>Description</th>
            </tr>
        <tr>
            <th><a href="https://www.udacity.com/" target = "_blank">UDACITY</a></th>
            <th>Google created website to learn all kinds of programming</th>
            </tr>
            <tr>
                <th><a href="https://www.codecademy.com/" target = "_blank">Codecademy</a></th>
                <th>Learning is copy pasting</th>
            </tr>
            
            <tr>
                <th><a href="https://www.coursera.org/" target = "_blank">Coursera</a></th>
                <th>Different HignEnd School Classes for Programming</th>
            </tr>
            <tr>
                <th><a href="http://www.w3schools.com/" target = "_blank">W3Schools</a></th>
                <th>Learn as a novice, come out as a novice</th>
            </tr>
             <tr>
                <th><a href="http://www.stackoverflow.com/" target = "_blank">StacOverFlow</a></th>
                <th>Cheat from here</th>
            </tr>
             <tr>
                <th><a href="http://www.learn-js.org/" target = "_blank">Learn-JS</a></th>
                <th>Learn from here Interactively</th>
            </tr>
            
        </Table>
       <h4><a href = "/view/contents.html" target ='_blank'>BACK</a></h4>
    </body>
</html>