<!doctype html>
<html>
    <head>
    <title>TABLES!!!</title>
       
    </head>
    <body>
    
        <h1>Tables</h1>
        <Table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        
            </tr>
            
        <tr>
             <th>Arthur</th>
            <th>Dent</th>
            </tr>
            
        <tr>
             <th>Harry</th>
            <th>Potter</th>
            </tr> 
            
        </Table>
         <h4><a href = "/view/contents.html" >BACK</a></h4>
    </body>
</html>